<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chart View</title>
    <link rel="icon" type="image/x-icon" href="cv-favicon180x180.png">
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/about.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;1,300&display=swap"
    rel="stylesheet"
    />
    <!-- CSS only -->
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
    crossorigin="anonymous"
    />
    <!--Ionicons-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  </head>
  <nav class="navbar navbar-expand-lg navbar-dark background">
    <div class="container-fluid">
      <a class="navbar-brand fontPadding" href="/">
        <img src="CV_Logo.png" height="70px" width="100px" alt="CV_Logo" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item fontPadding">
            <a style="font-size: 23px" class="font nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item fontPadding">
            <a style="font-size: 23px" class="font nav-link" href="about">About</a>
          </li>
          <li class="nav-item fontPadding">
            <a style="font-size: 23px" class="font nav-link" href="contact" tabindex="-1"
              aria-disabled="false">Contact</a>
          </li>
        </ul>
        <a href="login" style="text-decoration: none;"><button class="button-72">
          <%=label%>
          </button></a>
      </div>
    </div>
  </nav>
    <div style="height: 56.25rem;" class="about__body">
        <p>
            <h1 class="about__title">Chart View</h1>
            <hr class="about__line">
            <p class="about__text container">
                Hi there! We are delighted to tell you that our team has recently created a web application called "CharView" in 
                Embedded JavaScript language which has a fast development time, speedy execution and simple syntax. ChartView will be a place where 
                you can view top cryptocurrency prices live, along with trending crypto charts, market caps, and trading volumes.
                
                <br>
                <br>

                Let's see how we went about it! &#128512; 
                
                <br>
                <br>

                The Data Science Community in our college, SRM University, in association with the School of Computing SRMIST, 
                The Enigma Club, and The Block Chain Club SRM, provided a platform for the participants 
                to bring their innovative ideas to life. So finally when the day came to present our ideas at hand for the "DATA SCIENCE HACK'22" hackathon, 
                we were not far from committing a project in stock market data in cryptocurrencies, the so called hot topic going on in tech.
                speculative nature of stock prices attracted the attention of intellectual minds both from the academic community as well as professionals equally.
                Cryptocurrencies have quickly become a hot investment that is gaining mainstream adoption.
                Companies that adopt blockchain technology, especially in finance, may be able to gain a huge edge over traditional competitors in processing payments.
                The revenue crypto service providers are deriving from blockchain tech has explosively grown over the past few years.
                It has become important to observe the trends in stock charts based on cryptos as this sector is subject to sharp market swings.
                
                <br>
                <br>

                Usually, to depict live data on crptocurrencies such as Bitcoin, Etherium, Binance, etc. we need to fetch this live data from an API. 
                We chose to take it from the two popular API's <a href="https://www.coingecko.com/">CoinGecko</a> and <a href="https://coinlib.io/">CoinLib</a>.
                They provide live and historic cryptocurrency prices, portfolio, alerts, news, charts and detailed coin data. This just makes the game more interesting as we are playing with real-life data. 
                
                <br>
                <br>
                
                Firstly, we created a responsive website in HTML5, CSS, Javascript and EJS to experience an interactive user interface. 
                I would recommend to draw your app prototype in <a href="https://www.figma.com/">Figma</a>, a software tool where you can create you UI/UX elements for free!
                Then we added the API's and list of top cryptocurrencies stock charts. The charts mention details such as the average crpto value, total price owned by different companies, lows and highs in the market.
                You get to see the cryptos owned by companies like Binance, Kraken, Coinone, Luno, Bitso, CoinEX, Currency.com and so on.


                
            </p>
        </p>    
    </div>
    <%- include("footer") -%>