<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="css/Contact.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="person">
        <div class="container">
          <div class="container-inner">
            <img
              class="circle"
              style="background-image: url(beautiful-modern-hand-drawn-botanical-foliage-leaves-tropical-mood-mix-polka-dots-seamless-pattern-illustration-vector-eps-229983051.jpg);"
            />
            <img
              class="img img3" src="Untitled design (1).svg"
            />
          </div>
        </div>
        <div class="divider"></div>
        <div class="name">Jainendra</div>
        <div class="title">Product Manager</div>
      </div>
      <div class="person">
        <div class="container">
          <div class="container-inner">
            <img
              class="circle"
              style="background-image: url(seamless-trendy-nature-pattern-gardening-abstract-flowers-leaves-shapes-white-background_510988-168.jpg);"
            />
            <img
              class="img img3" src="Untitled design (1).svg"
            />
          </div>
        </div>
        <div class="divider"></div>
        <div class="name">Amit</div>
        <div class="title">Senior Developer</div>
      </div>
      <div class="person">
        <div class="container">
          <div class="container-inner">
            <img
              class="circle"
              style="background-image: url(d440b052-10bf-4d5b-87dc-58d5da092dfb_590.webp);" 
            />
            <img
              class="img img3" src="Untitled design (1).svg" 
            />
          </div>
        </div>
        <div class="divider"></div>
        <div class="name">Nishant</div>
        <div class="title">Senior UX</div>
      </div>
      <div class="person">
        <div class="container">
          <div class="container-inner">
            <img
              class="circle"
              style="background-image: url(2.jpg);"
            />
            <img
              class="img img3" src="Untitled design (1).svg"
            />
          </div>
        </div>
        <div class="divider"></div>
        <div class="name">Swarup</div>
        <div class="title">Product Manager</div>
      </div>
      <div class="person">
        <div class="container">
          <div class="container-inner">
            <img
              class="circle"
              style="background-image: url(1.jpg);"
            />
            <img
              class="img img3" src="Untitled design (1).svg"
            />
          </div>
        </div>
        <div class="divider"></div>
        <div class="name">Haripriya</div>
        <div class="title">Product Manager</div>
      </div>
    
</body>
</html>