<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart View</title>
    <link rel="stylesheet" href="css/Login.css">
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;1,300&display=swap"
        rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/7b72d8979a.js" crossorigin="anonymous"></script>
</head>

<body class="backround" style="background-color: #001d3d;">
    <nav class="navbar navbar-expand-lg navbar-dark background">
        <div class="container-fluid">
          <a class="navbar-brand fontPadding" href="/">
            <img src="CV_Logo.png" height="70px" width="100px" alt="CV_Logo" />
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item fontPadding">
                <a style="font-size: 23px" class="font nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item fontPadding">
                <a style="font-size: 23px" class="font nav-link" href="about">About</a>
              </li>
              <li class="nav-item fontPadding">
                <a style="font-size: 23px" class="font nav-link" href="contact" tabindex="-1"
                  aria-disabled="false">Contact</a>
              </li>
            </ul>
            <a href="login" style="text-decoration: none;"><button class="button-72">
                <%=label%>
              </button></a>
          </div>
        </div>
      </nav>
        <main class="main">
            <div class="container">
                <section class="wrapper" style="padding-top:0px">
                    <!-- <div class="heading">
                    <h1 class="text text-large">Sign In</h1>
                    <p class="text text-normal">New user? <span><a href="#" class="text text-links">Create an account</a></span>
                    </p>
                </div> -->
                    <br>
                    <%if(!headName){%>
                    <div class="col">
                        <h2 style="text-align: center;"><b>CHART VIEW</b></h2>
                    </div>

                    <form name="login" class="form" action="/login" method="POST">
                        <div class="input-control">
                            <label for="email" class="input-label" hidden>Email Address</label>
                            <input type="email" name="email" id="email" class="input-field" placeholder="Email Address">
                        </div>
                        <div class="input-control" style="margin-bottom: 0px;">
                            <label for="password" class="input-label" hidden>Password</label>
                            <input type="password" name="password" id="password" class="input-field"
                                placeholder="Password">
                        </div>
                        <!-- <div class="forgot">
                        <a href="#" class="text text-links">Forgot Password</a>
                    </div> -->
                        <br>
                        <div class="input-control">
                            <!-- <a href="#" class="text text-links">Forgot Password</a> -->
                            <a href="signup">Sign Up</a>
                            <input type="submit" name="submit" class="input-submit" value="Login">
                        </div>

                    </form>
                    <%}else{%>
                        <div class="col">
                            <h2 style="text-align: center;"><b>Hi, <%=label%></b></h2>
                        </div>
                    <%}%>
                    <!-- <div class="striped">
                    <span class="striped-line"></span>
                    <span class="striped-text">Or</span>
                    <span class="striped-line"></span>
                </div>
                <div class="method">
                    <div class="method-control">
                        <a href="#" class="method-action">
                            <i class="ion ion-logo-google"></i>
                            <span>Continue with Google</span>
                        </a>
                    </div>
                    <div class="method-control">
                        <a href="#" class="method-action">
                            <i class="ion ion-logo-facebook"></i>
                            <span>Continue with Facebook</span>
                        </a>
                    </div>
                    <div class="method-control">
                        <a href="#" class="method-action">
                            <i class="ion ion-logo-apple"></i>
                            <span>Continue with Apple</span>
                        </a>
                    </div>
                </div>-->
                </section>
            </div>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
</body>

</html>